<h3>Welcome!</h3>

<p>This is the Postit template. You've access the PostsController, index action. This is the index template. Find me under app/views/posts folder.</p>

<p>
  <ol>
    <% @posts.each do |post| %>
      <li><%= link_to post.title, post_path(post) %> </li>
      <%= render 'post_vote', post: post if logged_in? %>
      <small>
        [<%= link_to 'link', post.url %> ] posted at
      </small>

    <% end %> 
  </ol>
  <%= link_to "Create New Post", new_post_path, class: "btn"%>
</p>